*{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #444;
    color: aquamarine;
}